{% extends "base.html" %}

{% block page_content %}

<p>测试</p>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='vendor/socket.io.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/d3.v3.min.js') }}"></script>
<script>
$(document).ready(function() {
	var svg_width = 600;
	var svg_height = 480;
	var buf_size = 30;
	var each_width = svg_width/(buf_size-1)
	var svg = d3.select("body").append("svg")
		.attr("width", svg_width)
		.attr("height", svg_height);

	
	var buf = new Array(buf_size);

	function update(new_data){
		for(var i=0; i<buf_size-1; ++i)
			buf[i] = buf[i+1];
		buf[buf_size-1] = new_data;

		
	}


	var socket = io.connect("127.0.0.1:5000");
	socket.on("connect", function(){
		console.log("connected");
	});
	socket.on("disconnect", function(){
		console.log("disconnected");
	});
	socket.on('msg', function (data) {
		console.log(data);
	});
});
</script>
{% endblock %}

