.body-container{
	margin : 0 auto;
	width : 95%;
	font-size : 20px;
	/*background-color : red;*/
	/*
	border-style : solid;
	border-color : red;
	border-width : 10px;
	*/
}

.jumbotron{
	border-style : solid;
	border-color : red;
	border-width : 1px;
}

.login_form{
	margin : 0 auto;
	width : 50%;
}

